
            <div class="row">
                <div class="col-md-4"></div>
                <div class= "col-md-4" >
            <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-info" type="button" (click)="doOneLess(tour)" [disabled]="isMin">
                      <i class="icon-user-minus"></i>
                  </button>
                </div>
                <input style="text-align:center" type="text" class="form-control" placeholder="" aria-label="" value="{{placeReservee}}" aria-describedby="basic-addon1" readonly> 
                
                    <button class="btn btn-outline-info" type="button"(click)="increment(tour)" [disabled]="isMax">
                        <i class="icon-user-plus"></i>
                    </button>

                <div class="input-group-append">
                    <button type="button" type="submit" class="btn btn-info" (click)="openDialog()"  [disabled]="pasDePlace">Réserver</button>
                </div>
                </div>
                </div>
                 
            
